html, body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}

#gui {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform:translate(-50%);
}

#q {
    position: absolute;
    left: 50%;
    top: 1em;
    transform:translate(-50%);
    color: #F8F9F9;
}
